.site-header { 
    background-color: $primary-color; 
    text-transform: uppercase;
}
.sidebar ul {
    margin-left: 0;
    list-style-type: none;
}
.updated,
.author,
.author a {
    color: $dark-gray;
    font-size: 0.9rem;
}

